.content {
	margin-top: 50px;
}

.navbar-brand {
	text-align: center !important;
}

.desc {
	text-align: center;
}

.links {
	text-align: center;
}

.pdesc {
	text-align: left;
}

.ptitle {
	text-align: center !important;
}